<h2>USER PROFILE</h2>

{{#if userInSession}}
<img src="{{userInSession.picture}}" alt="{{userInSession.username}}" width="250px">
<h3>Welcome, {{ userInSession.username }}!</h3>
<p>You are {{userInSession.name}} {{userInSession.lastName}}</p>

<button>
    <a href="/create-post">Create a Post</a>
</button>

<p>You have {{userInSession.posts.length}} posts </p>

<div class="container-fluid text-center">
    <div class="row">
        {{#each userInSession.posts}}
        <div class="col-6">
            <div class="anim-post-list">
            <img src="{{this.picture}}" alt="{{this.title}}" width="500px" height="750px">
            <div class="anim-post-list-content">
            <a href="/posts"><div class="anim-post-list-text"><a class="a-checkout" href="{{this.link}}">Go to {{this.brandsName}}'s website</a></div></a>
            </div>
            <p>{{this.title}}</p>
            <p>{{this.intro}}</p>
            <p>Located in: {{this.country}}</p>
            </div>
            <div class="buttons">
                    <a id="edit-post" href="/userProfile/{{this.id}}/edit"><button>Edit post</button></a>
                </div>
                <div id="delete-post">
                    <form action="/posts/{{this._id}}/delete" method="POST"><button type="submit">Delete post</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<p>Please Sign up/ Log in</p>
{{/if}}

<button>
    <a href="/posts">Check out all the Posts!</a>
</button>