<h2>USER PROFILE</h2>

{{#if userInSession}}
    <h2>Welcome, {{ userInSession.username }}!</h2>
    <p>you are {{userInSession.name}} {{userInSession.lastName}}</p>
    <button>
        <a href="/create-post">Create a Post!</a>
    </button>
   
    <p>you have {{userInSession.posts.length}} post </p>
    <ul>
        {{#each userInSession.posts}}
        <li><p>{{this.title}}</p></li>
        {{/each}}
    </ul>

   
{{else}}
    <p>Please Sign up/ Log in</p>
{{/if}}


    <button>
        <a href="/posts">Check out all the Post!</a>
    </button>




    

