<h2>USER PROFILE</h2>

{{#if userInSession}}
    <h2>Welcome, {{ userInSession.username }}!</h2>
    <p>you are {{userInSession.name}} {{userInSession.lastName}}</p>
    <button>
        <a href="/create-post">Create a Post!</a>
    </button>
   
    <p>you have {{userInSession.posts.length}} post </p>
    
        {{#each userInSession.posts}}
            <img src="{{this.picture}}" alt="{{this.title}}" width="50px">
            <p>{{this.title}}</p>
            <p>{{this.link}}</p>
            <p>{{this.country}}</p>
            <a href="/edit"><button>Edit post</button></a>
            <a href="/delete"><button>Delete post</button></a>
        {{/each}}
    
{{else}}
    <p>Please Sign up/ Log in</p>
{{/if}}


    <button>
        <a href="/posts">Check out all the Post!</a>
    </button>




    

