<h2>USER PROFILE</h2>

{{#if userInSession}}
    <h2>Welcome, {{ userInSession.username }}!</h2>
    <p>you are {{userInSession.name}} {{userInSession.lastName}}</p>
    <button>
        <a href="/create-post">Create a Post!</a>
    </button>
    {{#each userInSession.posts}}
    <h2>{{this.title}}</h2>
    {{/each}}
{{else}}
    <p>Please Sign up/ Log in</p>
{{/if}}

    <button>
        <a href="/posts">Check out all the Post!</a>
    </button>




    

