<div class="edit-page">
    <div class="row">
        <div class="col-6">

            <h1>EDIT POST</h1>

            <form action="/userProfile/{{this.id}}/edit" method="post">

                <div class="form-group">
                    <label for="title">Title: </label>
                    <input type="text" id="title" name="title" value="{{this.title}}" required>
                </div>

                <div class="form-group">
                    <label for="country">Country: </label>
                    <input type="text" id="propellers" name="country" value="{{this.country}}" required>
                </div>

                <div class="form-group">
                    <label for="link">Brand's Website: </label>
                    <input type="url" id="link" name="link" value="{{this.link}}" required>
                </div>

                <div class="form-group">
                    <label for="brandsName">Brand's Name: </label>
                    <input type="text" id="brandsName" name="brandsName" value="{{this.brandsName}}" required>
                </div>

                <div class="form-group">
                    <label for="intro">Tell us about the brand: </label>
                    <input type="text" id="intro" name="intro" value="{{this.intro}}" required>
                </div>

    
                    <button type='submit'>Update your post</button>
            

            </form>

        </div>
</div>
</div>