<div class="container-fluid text-center">
    <h2>POST LIST</h2>
    <div class="container-fluid text-center">
        <div class="row">
                    {{#each posts}}
                    <div class="col-4">
                        <img src="{{this.picture}}" alt="{{this.title}}" width="500px">
                        <p>{{this.title}}</p>
                        <p>{{this.intro}}</p>
                        <p>Located in: {{this.country}}</p>
                        <a href="{{this.link}}">Checkout the Website</a>
                    </div>
                    {{/each}}
         </div> 
    </div>
</div>